/**************************************NAV************************************/

body {
margin: 0;
padding: 0;
}

#social {
width: 100%;
background-color: #000;
color: #fff;
}

div.content {width:100%;
}

#wamu-logo img {
    width: 250px;
    margin-top: 5px;
}
    
#wamu-logo {
    float: left;
    margin-left: 15px;
}

#wamu-logo:hover{
  background:none !important;
  text-decoration:none;
}

#navcontainer {
    width: 100%; 
    background-color: #f3f3f2;
    float: left;
    padding: 7px 0;
    margin-bottom: 2em;
}
    
div#header {
background-color: #000;
color: #fff;
font-family: p22-underground, helvetica, arial, sans-serif;
font-size: 14px;
height: 44px;
/*margin: 0;*/
padding: 0;
margin-bottom:2.0em;
}


.content:before,
.content:after {
    content: "";
    display: table;
} 
.content:after {
    clear: both;
}
.content {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.btn-default.red {
    border: 0 !important;
}

.addmargin-left {
    margin-left: 12px;
}

.navicon {
	margin-top: 0 !important;
	margin-right: 15px;
}

.nav-social {
    float: right;
    margin-right: 15px;
}

a.twitterbtn:link, a.twitterbtn:visited {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/austermuhle/ftm_twitter.png);
	width: 43px;
	height: 35px;
	float: left;
	margin-right: 0px;
}

a.twitterbtn:hover, a.twitterbtn:active {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/austermuhle/ftm_twitter_over.png);
	width: 43px;
	height: 35px;
	float: left;
}

a.facebookbtn:link, a.facebookbtn:visited {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/austermuhle/ftm_facebook.png);
	width: 43px;
	height: 35px;
	float: left;
	margin-right: 0;
}

a.facebookbtn:hover, a.facebookbtn:active {
	background-image: url(https://s3.amazonaws.com/static.wamu.org/g/austermuhle/ftm_facebook_over.png);
	width: 43px;
	height: 35px;
	float: left;
}
    
/* Base */

#base {
    margin-left: auto;
    margin-right: auto
}

select {
    max-width: 50%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 15px;
    position: relative;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #f3f3f2;
}

a {
    color: #c8381f;
    text-decoration: none;
}

a:hover, a:focus {
    color: #c8381f;
    text-decoration: underline;
}

div.container h1, div.container h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 300;
}
div.container h3, div.container h4
/*div.container h5, div.container h6 */

{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
}
/* Jumbo ***/

.jumbotron {
    margin-bottom: 0;
}

section#tease .jumbotron {
    background: url(https://s3.amazonaws.com/static.wamu.org/g/austermuhle/jumbo_rows3.jpg) gainsboro;
    background-size: cover;
    background-position: bottom;
    color: white;
    float: left;
    width: 100%;
}
section#tease .jumbotron h1 {
    text-shadow: 0px;
}
section#tease .jumbotron p.intro {
    text-shadow: 0px;
}

.jumbotron.article h1 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.jumbotron.article h3 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.jumbotron.article h4 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.jumbotron p {
    color: #fff;
    text-shadow: 0px;
}
.jumbotron .btn {
    text-shadow: none;
}

.panel.tabs {
    border: 0;
    box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
}

/* Nav Tabs *********************************************************************************************** */

.nav.nav-tabs {
    font-family: p22-underground, helvetica, arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 2.0em;
}
.nav.nav-tabs a, .nav.nav-tabs a:hover, .nav.nav-tabs a:visited {
    color: #c8381f;
}

.red {
    background-color: #c8381f;
    color: #fff;
}

.red:hover {
    background-color: #9d2b17;
    color: #fff;
}

/* Tables *************************************************************************************** */

table {
    border-collapse: collapse;
    padding: 0;
    margin: 0 0 11px 0;
    width: 100%;
    font: 12px/1.4 Arial, Helvetica, sans-serif;
}
table th {
    /*
            text-align: left;
            border-bottom: 2px solid #eee;
            vertical-align: bottom;
            padding: 0 10px 10px 10px;
            text-align: right;
        */
    
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
    text-align: left;
    border-bottom: 2px solid #eee;
    vertical-align: bottom;
    padding: 0 10px 10px 10px;
    text-align: right;
}
table td {
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 10px;
    text-align: right;
}
table th:nth-child(1), table td:nth-child(1) {
    text-align: left;
    padding-left: 0;
    font-weight: bold;
}

/* Sections *************************************************************** */

#part1-graphics {
    margin-top: 2.0em;
}


/* UI ******************************************************************* */

.btn-lg {
    margin-right: 1.0em !important;
    margin-bottom: 1.0em !important;
}
dl dt {
    white-space: normal !important;
}
.contract-emblem {
    fill: #4BABC2;
    /* #1186AC */
    
    stroke: none;
}
.contract-emblem-active {
    fill: #008194;
    /*#F37061;#EB5349*/
    
    stroke: none;
}

a.btn.btn-grey, a.btn.btn-grey:visited {
    color: #000;
    text-decoration: none;
    background-color: #f3f3f2;
    padding: 1em;
    font-size: 14px;
    font-weight: 500;
}

a.btn.btn-grey:hover, a.btn.btn-grey:focus {
    background-color: #e9e9e8;
    color: #000;
}

a:link .fa.fa-facebook.nav, a:visited .fa.fa-facebook.nav {
    color: #4e4e4e !important;
}

a:link .fa.fa-twitter.nav, a:visited .fa.fa-twitter.nav {
     color: #4e4e4e !important;
}
   

a:hover .fa.fa-facebook.nav, a:active .fa.fa-facebook.nav {
    color: #c8381f !important;
}

a:hover .fa.fa-twitter.nav, a:active .fa.fa-twitter.nav {
    color: #c8381f !important;
}

.fa.fa-facebook.nav {
    font-size: 28px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 10px;
}

.fa.fa-twitter.nav {
    font-size: 28px;
    vertical-align: middle;
}
.addmargin {
    margin: 1em 0;
}

/* Article styles *********************************************************************** */

.articlebody p {
    width: 75%;
}
.graphframe {
    border-left: 3px solid #dfdfdf;
    padding-left: 4%;
    width: 39.7%;
    margin: 2% 0 20px 2%;
}
.pictureframe {
    width: 39.7%;
    margin-left: 2%;
    margin-bottom: 1%;
}
.pictureframe img {
    max-width: 100%;
}
.caption {
    margin-top: 10px;
    color: #777;
    font-size: 11px;
    margin-bottom: 20px;    
}
.pullquote {
    padding: 2% 4%;
    width: 39.7%;
    margin: 2% 0 20px 2%;
    background-color: #f5f5f5;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dfdfdf;
}


.addborder-grey {
    border: 1px solid #ddd;
}

.dropcap::first-letter {
    color: #000000;
    display: block;
    float: left;
    font-size: 50px;
    line-height: 40px;
    padding: 4px 8px 0 0;
}


/******************************************AUDIO STYLES**************************************/

ul.playlist li .comment {
	font-size:0.65em;
	opacity:0.5
}

ul.playlist {
    background-color: #f3f3f2 !important;
    border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
    list-style-type: none !important;
    margin-bottom: 15px !important;
	margin-top: 15px !important;
    padding: 3px 0 !important;
	float: left !important;
	width: 100% !important;
    border: 0px;
}

ul.playlist li.sm2_paused {
background-color: none !important;
}

ul.playlist li.sm2_paused:hover a {
	color: #000 !important;
	background: url("https://s3.amazonaws.com/static.wamu.org/g/austermuhle/audio_btn_pause_black.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding-left: 20px !important;
	line-height: 1em !important;
	vertical-align: top !important;
}

ul.playlist.use-peak li.sm2_paused .peak {
	display: none !important;
}

ul.playlist li .timing {
    background-color: #f5f5f5 !important;
    border: none !important;
    border-radius: 0px;
    font: 12px helvetica, arial, sans-serif !important;
    height: 1em !important;
    letter-spacing: 0 !important;
    padding: 0px !important;
    position: absolute !important;
    right: 1em !important;
    text-align: right !important;
    vertical-align: middle !important;
    width: auto !important;
}

ul.playlist.use-peak li .timing {
	right: 3% !important;
}

ul.playlist li.sm2_paused .timing .sm2_position {
	text-decoration: none !important;
}

ul.playlist li:hover {
	background-color: #f5f5f5 !important;
}

ul.playlist li.sm2_playing, ul.playlist li.sm2_paused, ul.playlist li.sm2_playing a {
	border-radius: 0px !important ;
	color: #fff !important;
}

ul.playlist li {
    background-color: #f3f3f2 !important;
    border: medium none !important;
    color: #000 !important;
    display: block !important;
    letter-spacing: 0 !important;
    padding: 1em !important;
    position: relative !important;
    transition: background-color 0.15s linear 0s !important;
	margin-left: 0 !important;
}

ul.playlist li:hover a {
	color: #515151 !important;
	text-decoration: none;
	background: url("https://s3.amazonaws.com/static.wamu.org/g/austermuhle/audio_btn_play_grey.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding-left: 20px !important;
	line-height: 1em !important;
	font-size: 18px !important;
}

ul.playlist li .controls {
	background-color: #000 !important;
    margin-bottom: 0.25em !important;
    margin-top: 0.5em !important;
    position: relative !important;
}

ul.playlist li .controls .statusbar {
    background-color: #f5f5f5 !important;
    border: 0px !important;
    border-radius: 0px !important;
    cursor: -moz-grab !important;
    height: 0.5em !important;
    overflow: hidde !importantn;
    position: relative !important;
}

ul.playlist li .controls .statusbar .position {
    background-color: #000000 !important;
    border-radius: 0 !important;
    border-right: 3px solid #cecece !important;
}

ul.playlist li .controls .statusbar .loading {
    background-color: #fff !important;
}

ul.playlist li.sm2_playing, ul.playlist li.sm2_playing:hover {
    background-color: #f5f5f5 !important;
}

ul.playlist.use-peak li.sm2_playing .peak, ul.playlist.use-peak li.sm2_paused .peak {
    display: none !important;
}

ul.playlist li.sm2_playing, ul.playlist li.sm2_paused, ul.playlist li.sm2_playing a {
	color: #000 !important;
}

ul.playlist li.sm2_paused {
    background-color: #f5f5f5 !important;
}

ul.playlist li.sm2_paused .timing, ul.playlist.use-peak li.sm2_paused .peak {
    background-color: #f5f5f5 !important;
    border-color: #dfdfdf !important;
}

ul.playlist li.sm2_playing a.sm2_link {
    margin-right: 4.5em !important;
	margin-bottom: 0px !important;
	background: url("https://s3.amazonaws.com/static.wamu.org/g/austermuhle/audio_btn_pause_black.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding-left: 20px !important;
	line-height: 1em !important;
	vertical-align: top !important;
}

ul.playlist li.sm2_paused a.sm2_link {
    margin-right: 4.5em !important;
	margin-bottom: 0 !important;
}

ul.playlist li a {
    background: url("https://s3.amazonaws.com/static.wamu.org/g/austermuhle/audio_btn_play_black.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding-left: 20px !important;
	line-height: 1em !important;
	vertical-align: top !important;
	font-size: 18px !important;
	color: #000;
}

ul.playlist li.sm2_playing:hover a, ul.playlist li.sm2_paused a {
    color: #515151 !important;
	background: url("https://s3.amazonaws.com/static.wamu.org/g/austermuhle/audio_btn_pause_grey.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding-left: 20px !important;
	line-height: 1em !important;
	vertical-align: top !important;
}
ul.playlist li.sm2_paused a {
	color: #515151 !important;
	background: url("https://s3.amazonaws.com/static.wamu.org/g/austermuhle/audio_btn_pause_grey.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding-left: 20px !important;
	line-height: 1em !important;
	vertical-align: top !important;
}

ul.playlist li.sm2_paused:hover a {
	color: #000 !important;
	background: url("https://s3.amazonaws.com/static.wamu.org/g/austermuhle/audio_btn_pause_black.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding-left: 20px !important;
	line-height: 1em !important;
	vertical-align: top !important;
}


/********************************************ELEMENTS*****************************************/

.bylinebox {
    width: 100%;
    float: left;
}

.bylinebox-left {
    float: left;
    width: 65%;
    text-align: left;
}

.bylinebox-right {
    float: right;
    width: 35%;
    text-align: right;
}    


/*********************************************SOCIAL MEDIA************************************/

.btn-twitter, .btn-facebook {
    background-color: #c8381f !important;
    border: 0 !important;
    color: #fff;
}

.btn-twitter:hover, .btn-facebook:hover {
    background-color: #9d2b17 !important;
    border: 0 !important;
    color: #fff;
}

.btn-social-icon {
    height: 34px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 34px;
    margin: 0 0 0 5px;
}


/****************************************MEDIA QUERIES*****************************************/
@media(max-width:750px){
 
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ddd;
}
    
}

@media (max-width: 600px) {
.pictureframe {
    width: 100%;
    margin-bottom: 1%;
}
.pullquote {
    padding: 2% 4%;
    width: 100%;
    margin: 0 0 20px 0;
    background-color: #f5f5f5;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.btn.btn-default.red {
    display: none;
}
.nav-social {
    float: right;
    margin-right: 15pxpx;
}

}

@media(max-width:480px){
    
#navcontainer {
    width: 100%; 
    padding: 5px 0; 
    background-color: #f3f3f2;
}
    
#wamu-logo img {
    width: 200px;
    margin-top: 7px;
} 
    
.nav-social {
    float: right;
    margin-right: 10px;
}
 
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ddd;
}
    
a.btn.btn-grey, a.btn.btn-grey:visited {
    background-color: #f3f3f2;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    padding: 1em;
    text-decoration: none;
    width: 100%;
}
    
a.btn.btn-grey:hover, a.btn.btn-grey:focus {
    background-color: #e9e9e8;
    color: #000;
}
    
.articlebody p {
    width: 100%;
}

table, tbody {
    display: block;
    width: 100%;
}
thead {
    display: none;
}
table tr, table th, table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
}
table tr {
    border-bottom: 1px solid #eee;
    padding-bottom: 11px;
    margin-bottom: 11px;
}
table th[data-title]:before, table td[data-title]:before {
    content: attr(data-title)":\00A0";
    font-weight: bold;
}
table td {
    border: none;
    margin-bottom: 6px;
    color: #444;
}
table td:empty {
    display: none;
}
table td:first-child {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
}
table td:first-child:before {
        content: '';
}
.table-responsive {
    border: 0;
}

}