<!--       <a ng-href="#/" ng-class="{ on: isHome }">Contribution Breakdown</a> -
        <a ng-href="#/contractors" ng-class="{ on: isTest1 }">Contractor Breakdown</a> -
	    <a ng-href="#/incumbents/{{theName}}" ng-class="{ on: isTest3 }">Incumbents</a> -
        <a ng-href="#/sandbox" ng-class="{on: isSandbox }">Sandbox</a> - 
        <!--a href="#/reset/123" ng-class="{ on: isTest2 }">Reset</a-->

<ul class="nav nav-tabs nav-justified" role="tablist">
<!--li ng-class="{active : isHome}"><a ng-href="#contributions">Contributions</a></li-->
<li ng-class="{active : isPart1}"><a ng-href="#part1?scrollTo=part1">Part 1: Homeowner</a></li>
<li ng-class="{active : isPart2}"><a ng-href="#part2?scrollTo=part2">Part 2: Developer</a></li>
<li ng-class="{active : isPart3}"><a ng-href="#part3?scrollTo=part3">Part 3: City</a></li>
<!--li ng-class="{active : isSandbox}"><a ng-href="#sandbox">Sandbox</a></li-->
</ul>        