
<div class="jumbotron article">
        <div class="container">
          <h1>The Cost of D.C. Council’s Power Over Contracts</h1>
          <p>For Lawmakers And Contractors, The Campaign Finance Game Is Wide Open</p>
            <h4>By Patrick Madden</h4>
        </div>
      </div>
<div class="row">
    <div class="col-lg-12 articlebody comment combx">
        
<!-- Begin text -->
        
ONLY IN DC: D.C. Council has approval power over million-dollar contracts. 
NO LIMITS: Unlike federal government and 15 states, D.C. has no ‘pay-to-play’ restrictions on contractor donations.   
FOLLOW THE MONEY: WAMU Investigation Finds Most Donations Made Within A Year of Contract Votes

<p>Joe Lorenz says he was shocked when he was told to give campaign donations to help keep his company’s contract with the D.C. government. </p>

<p>Lorenz's Baltimore-based landscaping company had won a multi-year contract in 2010 to cut grass on District property. When the contract came up for a review in 2011, there was growing pressure from several Council members to let the contract expire and give it to another firm. </p>

<p>It wasn’t a question of performance or money. Lorenz says his company was doing the work at half the cost of the losing bidder on the original contract. But the competing company was based in D.C. and would hire city residents. </p>
        
        <div style="width: 100%; border: 1px solid #ebebeb; background-color: #f5f5f5; padding: 10px 3% 0px 3%; margin-bottom: 20px; margin-top: 20px; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;">
   <h4 style="display: inline; margin-right: 35px; margin-top: 0; line-height: 1em;">The Cost of D.C. Council’s Power Over Contracts</h4>     
    <a class="btn btn-default btn-md" role="button" ng-href="#story" style="margin-right: 35px; margin-bottom: 15px; margin-top: 5px;">Listen to the Story <span class="glyphicon glyphicon-share-alt"></span></a>    <a class="btn btn-default btn-md" role="button" ng-href="#story" style="margin-bottom: 15px; margin-top: 5px;">Explore the Data <span class="glyphicon glyphicon-share-alt"></span></a>
</div>

<p>Lorenz says he met with staff from Council member Muriel Bowser’s office to talk ahead of a crucial hearing on the grass-cutting contract. There was never any discussion about campaign contributions nor was ever it implied, according to Lorenz. But after the meeting, Lorenz says his lawyer told him he should contribute several thousand dollars to Bowser's campaign. </p>

<p>“We went as far as to write the checks out, and when it came down to it, that just wasn’t a road I was willing to go down, and we tore them up and chose to believe in the end the system would do what was right,” Lorenz says. </p>

<h2>Dollars And Deals</h2>

<p>A review of tens of thousands of city documents shows the decision faced by Lorenz likely is not unique. WAMU and the Investigative Reporting Workshop at American University examined more than a thousand contracts — worth an estimated $10 billion — that went to the D.C. Council for approval from 2007 to 2013.</p>

<p>From simple grass-cutting contracts to complicated D.C. Lottery services worth tens of millions of dollars, D.C. Council members have the final say over lucrative contracts. Council members do not pick the winners; there is a competitive bidding process for contracts that is overseen by procurement officials. But if the contract is worth more than a $1 million, it must be reviewed and approved by the Council, a practice considered unique among legislatures at the state level. According to most council members, this contracting authority adds an extra level of oversight to make sure taxpayer dollars aren’t being wasted or abused.</p> 

<p>The investigation looked at which firms won these lucrative contracts and how much people connected to the firms donated to lawmakers. It analyzed contributions from the corporations, the employees of these corporations and their family members. To do that, we examined over 100,000 campaign donations from D.C.’s Office of Campaign Finance. </p>

<p>WAMU and the Workshop identified more than $5 million in political contributions from more than 300 firms with D.C. Council-approved contracts from 2005 to 2014. Roughly half of the contractors’ campaign cash was donated to lawmakers within a year of their contracts getting approved. The money was a crucial source of fundraising as well: Roughly one-fifth of Council members’ campaign contributions analyzed by WAMU came from firms seeking their approval for city contracts. </p>

<p>Contributions were often made months and weeks ahead of when the contracts were voted on; in some cases, the campaign checks were dated the same day a firm’s lucrative contract was sent to the D.C. Council for approval. Council members and contractors alike said these appearances of conflict are unfortunate but they have no control over when contracts are sent to the council. </p>

<p>Campaign finance experts say WAMU’s investigation reveals a system plagued by the appearance of “pay-to-play” activity. </p>

<p>“What this data shows is a very serious and very real problem in the District of Columbia,” said Craig Holman of Public Citizen, a nonprofit government watchdog group. </p>

<p>“The correlation between the number of  a major contracts between awarded and the campaign contributions coming from those contractors is breathtaking,” Holman said. </p>

<p>Holman defines "pay to play" as the practice of businesses giving campaign donations in order to help secure government contracts. It doesn’t involve outright bribery, Holman said; rather, the contractors are contributing because they are seeking favorable consideration. </p>

<p>“There are so many problems with pay-to-play corruption that it affects everybody — the taxpayers, the companies themselves, and even the politicians who play by that game,” he said. </p>

<p>This type of dealmaking can waste taxpayer dollars, Holman said, because some businesses with cost-effective proposals will often “think twice” about submitting bids.</p>

<p>Joe Lorenz, who says his company was saving District taxpayers $2 million a year, lost the grass-cutting contract. </p>

<p>Campaign finance records show the rival firm in the contract dispute, Community Bridge Inc., made four donations totaling $2,000 that summer to Bowser’s campaign. Denise Shelton, owner of Community Bridge Inc., said she donated to the campaign because she was “raised in Ward 4,” which Bowser represents. </p>

<p>Both Lorenz and his lawyer, Randy Weiss, say neither Bowser nor her staff ever asked for any political donations. Weiss says it’s his fault that Lorenz was told to give campaign contributions:</p> 

<p>“If somebody gave Joe [Lorenz] that idea, it’s yours truly. Because I thought I had to do it,” said Weiss. “I thought it was neccessary, but I was wrong.” </p>

<p>Lorenz, who has never donated to a D.C. politician, says he has no regrets about ripping up the campaign checks.</p>

<p>“Once you go down that road and go down that path there is no going back — you won’t get anything ever unless you basically pay upfront,” Lorenz said. </p>

<p>Lorenz’s story would fit the classic description of what it’s like to do business in a "pay-to-play" environment, according to Meredith McGehee, policy director at the Campaign Legal Center. </p>

<p>“It’s a legalized shakedown. That’s what 'pay to play' is,”  said McGehee. “It’s telling any contractor that to get this politician’s ear, you better make a campaign contribution.” </p>

<p>But McGehee said the “shakedown” is often not explicit: “It’s all done with a wink and a nod and experience that gets the word around the community of what you need to do.” </p>

<p>Bowser’s opponent in the mayor’s race, David Catania, has faced criticism for holding a second job with one of the area’s largest government contractors, M.C. Dean, while working as a Council member. Catania, who earned several hundred thousand dollars a year in outside income from the firm until he left last year, has defended his employment and said he always recused himself when M.C. Dean contracts came to the D.C. Council for a vote. </p>

<p>“If I had ever picked up the phone and advanced my company’s interest one bit it would be on the front page of the Washington Post,” Catania said at WAMU’s mayoral debate last month. </p>


** GRAPHIC DUALBAR **

<p>WAMU’s investigation found some of the biggest winners in government contracting were also the biggest contributors to lawmakers’ campaigns. </p>

<p>Take Fort Myer Construction, a local street-paving company. The company through employees and family members donated more than $200,000 to mayoral and Council campaigns over the past decade. During that same time period, Fort Myer Construction has won at least $300 million in contracts, according to the District’s Department of Transportation. The firm has excelled at winning infrastructure projects: paving streets, fixing sidewalks and building with concrete. Since 2007, Fort Myer Construction has won more than 20 contracts for infastructure projects, according to DDOT. </p>

<p>Fort Myer Construction told WAMU in a written statement that it disagrees with any “implicit conclusions” that donations and contracts are connected. The company’s principals and family members are “active participants” in the community and their campaign contributions have “always been given within legal limits,” it said. The statement added that council members can only give an up-or-down vote on contracts but do not select which firms win the competitve bidding process. </p>

<p>“There is no quid pro quo between successful bidding and Fort Myer’s support of good government by making political donations,” the statement said. </p> 
 
<p>WAMU examined the timing of when businesses made donations and when lawmakers approved contracts. Companies such as Fort Myer have no say over when contracts are sent to the council for approval. Many firms also point out that they have no control over the political donations of individual employees or their family members. WAMU’s analysis found at least a dozen examples of contractors or their employees making campaign contributions to city politicians around the same time their contracts were at the D.C. Council for approval. </p>
        


<p>For example, on June 28, 2013, executives and family members at Fort Myer donated five campaign checks totaling $10,000 to Council Member Jack Evans — the same day a $1.7 million contract came to the Council for approval. Roughly two weeks later, on July 8, the firm had another contract up for review at city hall; two days later another $10,000 in donations from Fort Myer was donated — this time to Bowser. At the time, both council members were fundraising for their mayoral campaigns. </p>
        
                <!-- Fort Myer timeline -->
        <div class="graphframe pull-right">
<h4>Fort Myer Construction · 06/24/2013 - 07/11/2013</h4>
					<!--line-plot val="loaded" i="Jeffrey Thompson" i2="Vincent Orange" range="['05/01/2010','06/01/2011']" style="height:150px;float:none;" scale="linear"></line-plot-->

            <line-plot val="loaded" i="Fort Myer Construction" range="['06/24/2013','07/11/2013']" group-by="day" scale-extent='[1.0,2.0]' style="height:150px;float:none;" ></line-plot>
</div>


<!-- end Fort Myer timeline -->

<p>In addition to the case of Fort Myer Construction, the WAMU investigation identified other examples of contractors or their employees making donations to lawmakers within a week or two of a contract going to the D.C. Council for approval.  </p>

<p>In July 2010, in the same week the Council approved a $5 million contract for the construction firm Coakley & Williams to design the Bald Eagle Recreation Center, the contractor and its employees donated three campaign checks to Council member Mary Cheh. Cheh said she was not aware of the donations and didn’t even know the contractor. </p>

<p>“I would tell these persons that sent in contributions, valid on their face, that they have wasted their money, if they thought it meant any influence,” said Cheh, who supports barring contractors that seek city business from making campaign contributions. </p>

<p>In January 2012, one week after the D.C. Council was sent a $1.8 million contract to review for Forney Enterprises, the contractor donated a pair of $500 campaign checks to Bowser. Four other Council members would receive campaign checks — totaling $10,000 — from Forney Enterprise over the following weeks. </p>

<!--  Forney timeline -->
        <div class="graphframe pull-right">
<h4>Forney Enterprises, Inc. · Jan &mdash; Mar 2012</h4>
					<!--line-plot val="loaded" i="Jeffrey Thompson" i2="Vincent Orange" range="['05/01/2010','06/01/2011']" style="height:150px;float:none;" scale="linear"></line-plot-->

            <line-plot val="loaded" i="Forney Enterprises, Inc." range="['01/01/2012','03/31/2012']" group-by="day" style="height:150px;float:none;" scale-extent='[1.0,4.0]' y-scale="log" ></line-plot>

</div>

<!-- end Forney timeline -->

<p>In March 2012, F&L Construction donated three $500 campaign checks to Marion Barry a few weeks after its $3.4 million contract was approved by the D.C. Council. (A year later, Barry would later be censured and fined by the Council for having personally accepted thousands of dollars in cash from the owners of F&L Construction and Forney Enterprise.)</p>

<p>Examples like these worry government watchdogs because just the appearance of a conflict of interest can have negative consequences.</p> 

<p>“The appearance is that our government is being bought by government contractors and that causes a great deal of harm to the integrity of the D.C. government in the public’s eye,” said Holman of Public Citizen.</p> 

<p>At least one D.C. Council member agrees that something is wrong with the system. </p>

<p>“If it’s not a direct conflict, if it’s not a direct 'pay for play,' there is certainly a big appearance of something wrong there that bothers me,” said David Grosso, an at-large member of the Council, who added that WAMU’s findings make him “nervous” about how it looks. </p>
 
<p>Grosso stands out among city lawmakers: When contracts come up for approval, he votes “present.” Grosso abstains on these votes to protest the Council’s role in approving contracts. The abstentions began shortly after he took office in 2012. He says he took a “deep dive” into the issue and realized there “was very little review being done” by Council members.</p>   

<p>“There was no real work at the Council to understand these contracts — no time or expertise.” said Grosso. </p>

<p>Other Council members said in recent interviews that the timing of campaign checks and contract votes can lead to unfortunate coincidences — but it's not fair to assume that the process is corrupt. Fundraisers are often scheduled weeks, if not months, in advance; likewise, the Council is required by law to vote on these contracts.  </p> 

<p>Council Chairman Phil Mendelson said that while there have been instances of poorly timed contributions, he thinks the “the inappropriateness has been overblown in the public’s mind.”  </p>

<p>“So for all of these supposed connections that are occurring, the reality is that it doesn’t exist,” said Mendelson. </p>

<p>But Mendelson later said, when presented with evidence of a contractor — Wireless Generation — making a $1,000 donation to his campaign during the same week its contract was sent to the Council, that “it can be a problem.” </p>

<p>“If there's the appearance that a person is giving money, and the contract he wants is getting approved, the appearance is not good, even if the recipient is unaware of that connection,” said Mendelson, who added that he had never heard of the contributor, a vice-president at the company. </p>

    <h2>'Good Investments'</h2>
 
<p>The timing of contributions is important, according to campaign finance experts. </p>

<p>“Contractors wouldn’t be making these contributions within these time frames if they didn’t feel, as business people, they weren’t good investments,” said McGehee of the Campaign Legal Center. “You don’t expend your money — or your company’s money — unless you feel like you are going to get something in return.” </p>

<p>WAMU’s investigation revealed more than just a handful of poorly timed campaign donations. When all the contributions tied to these lucrative contracts are added up a much broader pattern of potential conflicts of interest emerges. </p>

<p>Records show that roughly half the money donated to city lawmakers by these businesses came within a year of a contract vote. </p>

<p>In many states that have laws intended to block “pay-to-play” activity, political contributions made within this time frame would be illegal. Those states put restrictions on government contractors' contributions to lawmakers. </p>

<p>In New Jersey, for example, businesses are banned from donating more than $300 to lawmakers eighteen months prior to winning a contract. In Connecticut, the restrictions are even more stringent as firms seeking contracts are prohibted from donating to lawmakers at all during the previous election cycle. Other cities, such as Philadelphia, have similar restrictions.</p> 

<p>In nearly all cases, "pay-to-play" laws were enacted after a corruption scandal. While these laws have been challenged around the country on constitutional grounds, so far the courts have ruled that these contribution bans or limits are justified because of the state’s interest in preventing the appearance of corruption.</p>  

    <h2>Considering Consequences</h2>

<p>Many contractors said that giving campaign contributions does not help their contracts win approval — that there is no quid pro quo, and that contracts are awarded based on track record and the ability to offer the lowest price.</p>

<p>Many of these businesses also told WAMU that donations made by individual employees or their family members are personal decisions and not tied to the firm’s business with the city. There are no laws in D.C. restricting employees at companies with government contracts from making campaign donations or supporting candidates running for office. </p>

<p>Freddie Winston, head of F&L Construction, is longtime city contractor. He said he has no problem with government contractors giving campaign money to lawmakers. He said small-business owners make political donations not to win contracts but to help elect the politicians who create a friendly environment for local businesses. </p>

<p>“I think they make contributions because they did their homework. They want the best people in the best position to be able to do right for [them],” Winston said. </p>

<p>Supporting one lawmaker with campaign contributions isn’t going to win over the entire Council, Winston said. “No one individual can persuade 12 other people to say ‘give that dude a contract or give his company a contract’ based on him giving a contribution. If he does, then there is a problem,” Winston said. </p>

<p>But other contractors, such as Joe Lorenz, told WAMU there is an expectation that if you do business with the city, you need to make political contributions to local lawmakers. And when a firm’s contract is sent to the D.C. Council for approval, the pressure to donate intensifies. </p>

<p>Lorenz said that because he didn’t give campaign money, he believes he lost any chance of keeping his contract. </p>

<p>“That’s a choice we chose not to take, and these are the consequences of us not contributing. We will move on, and that’s how we choose to conduct ourselves,” Lorenz said. </p>

<p>Other contractors say they believe that individual Council members can and do intervene in the contracting process, and they think that giving money to campaigns helps them keep their city contracts — and, in some cases, creates powerful allies.</p>

<p>“We need to contribute. We just don’t want enemies out there,” said the owner of a construction firm that has won several Council-approved contracts. The contractor spoke to WAMU on the condition of anonymity for fear of losing future government awards. 

<p>For many years, for example, it took just one Council member to file a disapproval resolution  on a contract, a legislative maneuver that can delay the process for months. The contractor says he devised a simple solution to make sure his contracts aren’t tampered with by city lawmakers: Donate money to every Council member. </p>

<p>“If the Council member sees the name of the firm that’s going to be awarded, he’s less likely to object if he knows the company. And the only way to know the company is through campaign contributions,” he said. </p>

    <h2>Rooted In History</h2>

<p>The Council’s contracting authority is a result of the scandal-plagued 1980s and 1990s. By 1995, the city was facing financial ruin and the federal government was forced to take over. Contracting approval was given to the Council to keep then-Mayor Marion Barry in check. </p>

<p>Most D.C. Council members argue that their approval of contracts is largely symbolic and that almost all contracts sent to the Council are approved with little hassle or fanfare. Mendelson, the Council chairman, said the contracting authority is a safeguard against improper procurements and provides more transparency about the process. </p>

<p>“The problem is not the Council’s ability to approve contracts. The problem is campaign contributions,” Mendelson said.</p> 

<p>But Council member Grosso disagreed. He said because the Council already has the power over the budget and oversight of city agencies, the contracting power is unnecessary, and he fears it’s being abused by his colleagues to raise campaign dollars. </p>
 
<p>“Who is most likely to give me money? Somebody who has business with the Council. And that is what's going on with these contracts that come before us,” Grosso said.</p>

<p>The current system creates “a vast appearance of a conflict,” Grosso said, and “it needs to be stopped.”</p>

<p>WAMU’s analysis shows that Council members, once in office, all draw a significant portion of their campaign contributions from businesses seeking approval on contracts. </p>

<p>Pull Left 2 col incumbent headshot and donut for Bonds, Barry, Orange?</p>
	
<p>Mary Cheh agrees that there is a dilemma: On one hand, the Council is the last line of defense against improper contracts; on the other hand, she said the approval process invites “mischief” from contractors who want to get over the finish line and might be encouraged to give contributions.</p>

** subhed: The Thompson Effect

<p>Council member Vincent Orange has been publicly criticized by his colleagues for using the contract approval process to intervene on behalf of campaign contributors. </p>

<p>He said he was trying save taxpayers $50 million when he went to bat for the losing contractor in the city’s parking meter contract in 2013. The company, World Wide Parking, had bundled nearly $40,000 for Orange since 2010 through a wide assortment of affiliated corporations and limited liability companies. (The practice of ‘bundling’ through LLCs has since been outlawed in the District.) Orange wanted the Council to disapprove the contract to Xerox and award it instead to World Wide Parking, which had offered a lower bid. His efforts were unsuccessful. 

<p>“I wasn’t carrying water for World Wide Parking,” said Orange. “I was carrying water for the citizens of the District of Columbia.”

<p>Orange also has had to answer questions about his fundraising ties to disgraced contractor Jeffrey Thompson. Thompson pleaded guilty earlier this year to illegally funneling millions of dollars in so-called “shadow” campaign funds and straw donations to city politicians. Orange, a major benefactor of Thompson’s campaign contributions, has denied any knowledge of Thompson’s illegal fundraising and hasn’t been charged by prosecutors. 

<p>As the Jeffrey Thompson scandal shows, a politicized contracting environment can have disastrous consequences for the city, its taxpayers and its politicians. 

<p>Nine people so far have pleaded guilty in the case, including four people associated with Mayor Vincent Gray’s 2010 campaign. Gray hasn’t been charged, but prosecutors have publicly accused him of knowing about the illegal scheme to help his campaign. Another disgraced politician, former Council member Michael A. Brown, admitted to receiving more than $100,000 in illegal campaign funds from Thompson, as well as a $10,000 "personal loan" that was never expected to be repaid.</p> 

<p>Federal prosecutors said the Thompson case was never just about skirting campaign finance laws. As Thompson told prosecutors in his plea agreement, he needed Gray to beat then-Mayor Adrian Fenty in 2010 to “improve the business climate” for his Medicaid company. He needed the mayor and a handful of allies on the D.C. Council to protect his hundreds of millions of dollars a year in public contracts.</p> 

<p>Critics of the city’s contracting approval process say the Thompson case is the result of a system that gives politicians the final say over billions of taxpayer dollars.</p> 

<p>“It’s a corrupting system for all the players in it,” said McGehee of the Campaign Legal Center.  “The ones that like it are the ones that have figured out how to play the game most effectively.” </p> 

<p>Lorenz, the landscaper from Baltimore, says he refused to play. But he says the experience scarred him, personally and professionally. It took him several years to recover financially from the canceled contract. He would like to come back to D.C. and compete for city work — he’s a businessman, after all. But he questions whether he’ll work in the District again. </p>

<p>“At the end of the day, you can bid, you can win, you can be the best contractor out there, you can do the best work at the best price, and it doesn’t matter,” said Lorenz.  “All that matters is who gives you a thumbs up and a thumbs down.”</p>

    <h2>Is Change Possible?</h2>

<p>After the Thompson scandal broke, D.C. Attorney General Irving Nathan was tasked with drawing up new legislation to end pay-to-play activity in D.C. He pressed the Council to “sever the corrosive ties” between political contributions and government contracts. Nathan’s bill, introduced last year, would ban firms that receive large city contracts from donating to lawmakers for at least a year. </p>

<p>“The District’s system of public contracting shouldn’t be dogged by perceptions of favoritism, undue influence or even corruption,” Nathan testified before the Council. </p>

<p>Other lawmakers have tried to reform the system. Grosso introduced a bill to strip the Council’s contracting authority. Mendelson proposed a different tack: His bill would ban any firm seeking a contract from making political contributions at all.</p>

<p>But these legislative efforts have fallen short. Grosso proposal failed. Mendelson hasn’t brought his own bill banning pay-to-play activity for a vote because he doesn’t think one will pass. </p>

<<<<<<< HEAD
        <p>Mendelson said Council members running for office “don’t want to mess with the system too much.” </p>
=======
            <line-plot val="loaded" i="Fort Myer Construction" range="['06/24/2013','07/11/2013']" group-by="day"  class="line-plot inset" y-upper-bound="22000" scale-extent='[1.0,2.0]' style="height:180px;float:none;" ></line-plot>
>>>>>>> 6376c585925394aa5494468cd564b9b681840d3b





<<<<<<< HEAD
        
        <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/lorenz2.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>
=======
            <line-plot val="loaded" i="Forney Enterprises, Inc." range="['01/01/2012','03/31/2012']" group-by="day" class="line-plot inset" y-upper-bound="4000" style="height:180px;float:none;" scale-extent='[1.0,4.0]' y-scale="log" ></line-plot>
>>>>>>> 6376c585925394aa5494468cd564b9b681840d3b





<!-- Dual Bar -->
<div class="graphframe pull-right">
<h4>This will be a dual-bar</h4>
<bar-plot val="loaded" y-accessor="candidatename" i="Anita Bonds" top="10" class="bar-plot pull" margins="{top:20,left:320,bottom:20,right:30}"></bar-plot>
</div>
<!-- End Dual Bar -->


<!-- Percentage of total contrib -->

						<div style="width:33%;float:left;">

						<h5>Vincent Orange</h4>
							<donut-chart data="fundraising_percentage" i="Vincent Orange" no-legend class="donut-small"></donut-chart>	
						</div>
						<div style="width:33%;float:left;">

						<h5>Marion Barry</h4>
							<donut-chart data="fundraising_percentage" i="Marion Barry" no-legend class="donut-small"></donut-chart>	
						</div>
						<div style="width:33%;float:left;">

						<h5>Anita Bonds</h4>
							<donut-chart data="fundraising_percentage" i="Anita Bonds" no-legend class="donut-small"></donut-chart>	
						</div>


<!-- End percentage of total contrib -->











    
    
    <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/bowser1.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>
    
    <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/bowser2.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>
    
        <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/bowser3.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>
    

    
       <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/catania1.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>
    
    <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/catania2.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>
    
       <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/cheh1.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>


<div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/cheh2.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>


    <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/cheh3.jpg">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>

    
        <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/grosso1.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>

    
      <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/grosso2.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>


          <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/grosso3.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>

    
     <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/mendelson1.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>
    
    
     <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/mendelson2.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>
    
     <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/mendelson3.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>
    
   <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/orange1.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>

    
       <div class="pictureframe pull-right">
         <img src="https://s3.amazonaws.com/static.wamu.org/g/madden/orange2.jpg" class="img-rounded">
      <div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus lobortis magna, non blandit sem porttitor at. Pellentesque ultrices, mauris vitae varius aliquam, libero mauris vulputate nisl</div>
</div>


<!-- End text -->




    </div>
</div>
    
</div>