<!-- nav -->


<div id="navcontainer">
<div id="wamu-logo"><a href="http://wamu.org/"><img ng-src="{{wamu_logo()}}" border="0"></a></div>
<div class="nav-social">
    <a href="https://twitter.com/home?status=DC%20is%20a%20hotspot%20for%20house%20flippers,%20but%20new%20drywall%20and%20shiny%20appliances%20tell%20half%20the%20story%20in%20some%20renovated%20homes.%20http://bit.ly/1zICRHL"><i class="fa fa-twitter nav"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://wamu.org/projects/house-flipping/"><i class="fa fa-facebook nav"></i></a>

<a href="http://wamu.org/support/donate/" class="btn btn-default red addmargin-left" aria-label="Left Align" role="button">DONATE</a>

    </div>
</div>


	
<!-- End nav -->