<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>Term</dt> <dd>Jan. 2, 2011 - Jan. 2, 2015</dd>
<dt>Represents</dt> <dd>At-Large</dd>
 <dt>Political Affiliation</dt> <dd>Independent</dd> 
 <dt>Chairmanship</dt> <dd>Committee on Education</dd> 
 <dt>Address</dt><dd><address> 
 1350 Pennsylvania Avenue NW, Suite 404<br> 
 Washington, DC 20004<br> 
</address></dd> 
 
<dt>Contact</dt>
<dd>
<address> 
 (202) 724-7772 <br>
 <a href="mailto:dcatania@dccouncil.us">dcatania@dccouncil.us</a> <br>
</address>
</dd>
<dt>Web</dt> <dd><a href="http://www.councilmembercatania.com/">councilmembercatania.com</a></dd>
<dt>Twitter</dt><dd><a href="https://twitter.com/davidcataniaDC" class="twitter">@davidcataniaDC</a> </dd>
</dl>
