<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>D.C. Council</dt> <dd>2009-2013</dd>
 <dt>Represented</dt> <dd>At-Large</dd>
 <dt>Political Affiliation</dt> <dd>Independent</dd> 

</dl>
