<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>Term</dt> <dd>May 1, 2007 - Jan. 2, 2017</dd>
 <dt>Represents</dt> <dd>Ward 4</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 
 <dt>Chairmanship</dt> <dd>Committee on Economic Development</dd> 
 <dt>Address</dt><dd><address> 
 1350 Pennsylvania Avenue, NW Suite 110<br> 
Washington, DC 20004<br> 
</address></dd> 
 
<dt>Contact</dt>
<dd>
<address> 
 (202) 724-8052 <br>
 <a href="mailto:mbowser@dccouncil.us">mbowser@dccouncil.us</a> <br>
</address>
</dd>
<dt>Web</dt> <dd><a href="http://dcclims1.dccouncil.us/bowser/">dcclims1.dccouncil.us/bowser/</a></dd>
<dt>Twitter</dt><dd><a href="https://twitter.com/teammuriel" class="twitter">@teammuriel</a> </dd>
</dl>
