<!-- file name should be all lowercase with underscores for spaces, spelled exactly as name in dashboard table e.g "david_catania.html"-->

<dl class="dl-horizontal"> 
 <dt>D.C. Council Chairman</dt> <dd>2007-2011</dd>
 <dt>D.C. Council</dt> <dd>2005-2007</dd>
 <dt>Represented</dt> <dd>Ward 7</dd>
 <dt>Political Affiliation</dt> <dd>Democratic Party</dd> 

</dl>
